.c-auth{
    padding: 0 16px;
    text-align: center;
    .c-auth__logo{
        img{
            width: 250px;
            @include mq(sm) {
                width: 200px;
            }
        }
    }
    .c-auth__logo__link{
        display: inline-block;
    }
    .c-auth__inner{
        background: #fff;
        max-width: 360px;
        margin: 48px auto;
        padding: 24px;
        border-radius: 10px;
        @include mq(sm) {
            margin-top: 24px;
        }
    }
    .c-auth__title{
        font-size: 24px;
        margin-top: 24px;
    }
    .c-auth__formGroup{
        text-align: left;
        margin-top: 24px;
        &.c-auth__formGroup--remember{
            margin-top: 16px;
            display: flex;
        }
         // jquery.validateによるエラー文
        label.error{
            display: block;
            color: red;
            margin-top: 8px;
            font-size: 13px;
        }
    }
    .c-auth__formItem{
        margin-top: 8px;
    }
    .c-auth__formInput{
        width: 100%;
        padding: 16px;
        border: 1px solid #eee;
    }
    .c-auth__formLabel{
        display: flex;
        align-items: center;
    }
    .c-auth__submit{
        width: 200px;
        height: 50px;
        margin: 32px auto 0;
    }
    .c-auth__toLogin{
        margin-top: 32px;
        padding-top: 32px;
        border-top: 1px solid #ccc;
    }
    .c-auth__toLogin__link{
        color: $main-cl;
        text-decoration: underline;
    }
}