.c-flash{
    padding: 0 16px;
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    text-align: right;
    @include mq(md) {
            top: 72px;
        }
    .c-flash__inner{
        max-width: 360px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 16px;
        border-radius: 3px;
        background: rgba(137, 196, 255, 0.9);
        color: white;
        display: inline-block;
        text-align: left;
        line-height: 1.35;
        &.error{
            background: rgba(249,146,146,0.9);
        }
    }
    .c-flash__text{
        display: flex;
        align-items: center;
    }
    .c-flash__img{
        padding-top: 0px;
        margin-right: 13px;
        width: 20px;
        height: 20px;
    }
}