.c-idea__card{
    border: 1px solid $main-cl;
    max-width: 400px;
    margin: 32px auto 0;
    padding: 16px;
    background: $bg-cl;
    border-radius: 10px;
    .c-idea__card__inner{
    }
    .c-idea__card__img{
        width: 100%;
        height: 48vw;
        max-height: 278px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 50%;
        }
    }
    .c-idea__card__priceAndDate{
        display: flex;
        justify-content: space-between;
    }
    .c-idea__card__likeAndReview{
        display: flex;
        justify-content: space-between;
    }
    .c-idea__card__user{
        display: flex;
        align-items: center;
    }
    .c-idea__card__user__img{
        width: 50px;
        border-radius: 50%;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    .c-idea__card__user__name{
        margin-left: 8px;
    }
    .c-idea__card__like{
        display: flex;
        .c-idea__card__like__img{
            width: 20px;
        }
        .c-idea__card__like__count{

        }
    }

}