.c-idea__card{
    border: 1px solid $main-cl;
    max-width: 400px;
    margin: 80px 32px 0;
    padding: 16px;
    background: $bg-cl;
    border-radius: 10px;
    width: 40%;
    @include mq(lg) {
            width: auto;
            margin: 32px auto 0;
        }
    .c-idea__card__inner{
        position: relative;
    }
    .c-idea__card__category{
        display: flex;
        position: absolute;
        top: 0;
        padding: 7px 14px;
        border-radius: 15px;
        line-height: 1.1;
        font-size: 14px;
        background: rgba(236,236,236,0.5);
        margin: 14px 0 0 14px;
    }
    .c-idea__card__img{
        width: 100%;
        height: 48vw;
        max-height: 278px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 50%;
        }
    }
    .c-idea__card__priceAndDate{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 8px;
    }
    .c-idea__card__price{
        font-size: 22px;
        font-weight: bold;
        color: $accent-cl;
        letter-spacing: 1.2px;
    }
    .c-idea__card__date{
        font-size: 12px;
    }
    .c-idea__card__updated{
        margin-top: 4px;
    }
    .c-idea__card__title{
        margin-top: 16px;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1.1px;
        line-height: 1.3;
    }
    .c-idea__card__description{
        margin-top: 8px;
        height: 60px;
        line-height: 1.3;
        letter-spacing: 1.1px;
    }
    .c-idea__card__likeAndReview{
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
    }
    .c-idea__card__user{
        display: flex;
        align-items: center;
        margin-top: 8px;
    }
    .c-idea__card__user__img{
        width: 50px;
        border-radius: 50%;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    .c-idea__card__user__name{
        margin-left: 8px;
    }
    .c-idea__card__like{
        display: flex;
        align-items: center;
        .c-idea__card__like__img{
            width: 20px;
        }
        .c-idea__card__like__count{
            margin-left: 8px;
        }
    }
    .c-idea__card__review{
        display: flex;
        align-items: center;
    }
    .c-idea__card__review__rate{
        margin-left: 4px;
    }
}