//パスワードリセットメール送信画面
.p-changeEmail{
    padding: 0 16px;
    text-align: center;
    .p-changeEmail__inner{
        background: #ffffff;
        max-width: 360px;
        margin: 48px auto;
        padding: 24px;
        border-radius: 10px;
    }
    .p-changeEmail__title{
        font-size: 24px;
        margin-top: 24px;
        line-height: 1.35;
    }
    .p-changeEmail__formGroup{
        text-align: left;
        margin-top: 24px;
    }
    .p-changeEmail__formItem{
        margin-top: 8px;
    }
    .p-changeEmail__formInput{
        width: 100%;
        padding: 16px;
        border: 1px solid #eee;
    }
    .p-changeEmail__submit{
        margin-top: 32px;
    }
}