.p-login{
    padding: 0 16px;
    text-align: center;
    .p-login__logo{
        img{
            width: 250px;
            @include mq(sm) {
                width: 200px;
            }
        }
    }
    .p-login__logo__link{
        display: inline-block;
    }
    .p-login__inner{
        background: #fff;
        max-width: 360px;
        margin: 48px auto;
        padding: 24px 24px 32px;
        border-radius: 10px;
        @include mq(sm) {
            margin-top: 24px;
        }
    }
    .p-login__title{
        font-size: 24px;
        margin-top: 24px;
    }
    .p-login__formGroup{
        text-align: left;
        margin-top: 24px;
        &.p-login__formGroup--remember{
            margin-top: 16px;
            display: flex;
        }
    }
    .p-login__formItem{
        margin-top: 8px;
    }
    .p-login__formInput{
        width: 100%;
        padding: 16px;
        border: 1px solid #eee;
    }
    .p-login__formLabel{
        display: flex;
        align-items: center;
    }
    .p-login__formCheck{
        position: relative;
        display: inline-block;
        height: 16px;
        line-height: 1.2;
        padding-left: 24px;
    }
    .p-login__formCheck::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }
    .p-login__formCheck::after{
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 5px;
        width: 4px;
        height: 8px;
        transform: rotate(45deg);
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
    }
    .p-login__formInput{
        &.p-login__formInput--remember{
            display: none;
        }
    }
    .p-login__formInput:checked + .p-login__formCheck::before{
        background: $main-cl;
        border: none;
    }
    .p-login__passreset{
        text-align: left;
        margin-top: 24px;
    }
    .p-login__resetLink{
        color: $main-cl;
        text-decoration: underline;
        &:visited{
            color: $main-cl;
        }
    }
    .p-login__submit{
        margin-top: 32px;
        padding-bottom: 32px;
        border-bottom: 1px solid #ccc;
    }
    .p-login__toRegister{
        margin-top: 32px;
    }
    .p-login__toRegister__link{
        color: $main-cl;
        text-decoration: underline;
    }
}