//パスワードリセットメール送信画面
.p-passwordEmail{
    padding: 0 16px;
    text-align: center;
    .p-passwordEmail__inner{
        background: #ffffff;
        max-width: 360px;
        margin: 48px auto;
        padding: 24px;
        border-radius: 10px;
    }
    .p-passwordEmail__title{
        font-size: 24px;
        margin-top: 24px;
        line-height: 1.35;
    }
    .p-passwordEmail__formGroup{
        text-align: left;
        margin-top: 24px;
    }
    .p-passwordEmail__formItem{
        margin-top: 8px;
    }
    .p-passwordEmail__formInput{
        width: 100%;
        padding: 16px;
        border: 1px solid #eee;
    }
    .p-passwordEmail__submit{
        margin-top: 32px;
    }
}

//新パスワード入力画面
.p-passwordReset{
    padding: 0 16px;
    text-align: center;
    .p-passwordReset__inner{
        background: #ffffff;
        max-width: 360px;
        margin: 48px auto;
        padding: 24px;
        border-radius: 10px;
    }
    .p-passwordReset__title{
        font-size: 24px;
        margin-top: 24px;
        line-height: 1.35;
    }
    .p-passwordReset__formGroup{
        text-align: left;
        margin-top: 24px;
    }
    .p-passwordReset__formItem{
        margin-top: 8px;
    }
    .p-passwordReset__formInput{
        width: 100%;
        padding: 16px;
        border: 1px solid #eee;
    }
    .p-passwordReset__submit{
        margin-top: 32px;
    }
}