.p-register{
    padding: 0 16px;
    text-align: center;
    .p-register__logo{
        img{
            width: 250px;
            @include mq(sm) {
                width: 200px;
            }
        }
    }
    .p-register__logo__link{
        display: inline-block;
    }
    .p-register__inner{
        background: #fff;
        max-width: 360px;
        margin: 48px auto;
        padding: 24px;
        border-radius: 10px;
        @include mq(sm) {
            margin-top: 24px;
        }
    }
    .p-register__title{
        font-size: 24px;
        margin-top: 24px;
    }
    .p-register__formGroup{
        text-align: left;
        margin-top: 24px;
        &.p-register__formGroup--remember{
            margin-top: 16px;
            display: flex;
        }
    }
    .p-register__formItem{
        margin-top: 8px;
    }
    .p-register__formInput{
        width: 100%;
        padding: 16px;
        border: 1px solid #eee;
    }
    .p-register__formLabel{
        display: flex;
        align-items: center;
    }
    .p-register__submit{
        margin-top: 32px;
        padding-bottom: 32px;
        border-bottom: 1px solid #ccc;
    }
    .p-register__toLogin{
        margin-top: 32px;
    }
    .p-register__toLogin__link{
        color: $main-cl;
        text-decoration: underline;
    }
}