.p-usersProfile{
    text-align: center;
    padding: 48px;
    .p-usersProfile__img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include mq(sm) {
            width: 200px;
            height: 200px;
        }
    }
    .p-usersProfile__name{
        margin-top: 24px;
        font-size: 20px;
    }
    .p-usersProfile__edit{
        margin-top: 24px;
        font-size: 12px;
        background: #FFBC61;
        color: #555;
        border-radius: 3px;
        display: inline-block;
        line-height: 1.1;
        a{
            padding: 5px 10px;
            display: inline-block;

        }
    }
}