.l-settings{

    padding: 0 16px;
}
.p-settings{
    max-width: 600px;
    margin: 64px auto;
    background: #fff;
    @include mq(sm) {
        margin: 32px auto;
    }
    .p-settings__inner{
        margin: 0 auto;
        max-width: 300px;
        text-align: center;
        padding: 64px 16px;
    }
    .p-settings__title{
        font-size: 24px;
    }
    .p-settings__label{
        font-weight: bold;
    }
    .p-settings__items{
        text-align: left;
    }
    .p-settings__list{
        list-style: none;
        margin-top: 40px;
        &:first-of-type{
            margin-top: 0;
        }
        &.p-settings__list--img{
            text-align: center;
            display: flex;
            flex-direction: column;
        }
    }
    .p-settings__imgWrap{
        width: 250px;
        height: 250px;
        margin: 24px auto 0;
        border-radius: 50%;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .p-settings__text{
        margin-top: 12px;
    }
    .p-settings__withdraw{
        text-decoration: underline;
    }
}