.l-container{
    max-width: 1000px;
    margin: 0 auto;
}

.l-color__white{
    background: #ffffff;
}

.l-main{
    padding-top: 70px;
    @include mq(lg) {
        padding-top: 60px;
    }
}

.l-ideas{
    height: 100%;
}

.l-tabs{
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
}

.l-mypage__items{
    padding-bottom: 64px;
    @include mq(sm) {
        padding-bottom: 24px;
    }
}