.l-container{
    max-width: 1000px;
    margin: 0 auto;
}

.l-color__white{
    background: #ffffff;
}

.l-main{
    padding-top: 70px;
    @include mq(md) {
        padding-top: 60px;
    }
}

.l-ideas{
    height: 100%;
}