.p-create{
    padding:40px;
    .p-create__inner{
        background: #fff;
        max-width: 1000px;
        margin: 0 auto;
        padding: 32px;
        box-sizing: border-box;
    }
    .p-create__title{
        font-size: 24px;
    }
    .p-create__formGroup{
        text-align: left;
        margin-top: 24px;
    }
    .p-create__formItem{
        margin-top: 8px;
    }
    .p-create__formLabel{
        display: flex;
        align-items: center;
    }
    .p-create__formItem{
        &.p-create__formItem--category{
            position: relative;
            display: inline-block;
            &::after{
                content: "";
                position: absolute;
                pointer-events: none;
                top: 62%;
                transform: translate(0, -50%) rotate(90deg);
                right: 17px;
                box-sizing: border-box;
                width: 8px;
                height: 8px;
                border: 8px solid transparent;
                border-left: 8px solid #333;
            }
        }
        &.p-create__formItem--price{
            width: 200px;
        }
    }
    .p-create__formInput{
        width: 100%;
        padding: 16px 40px 16px 16px;
        border: 1px solid #eee;
        background: #fff;
        font-size: 16px;
        &.p-create__formInput--description{
            height: 110px;
        }
        &.p-create__formInput--body{
            height: 300px;
        }
    }
    .p-create__priceWrap{
        display: flex;
        align-items: flex-end;
    }
    .p-create__price__text{
        margin-left: 8px;
    }
    .p-create__imgInput{
        display: none;
    }
    .p-create__imgWrap{
        display: inline-block;
        position: relative;
        border: 1px solid #eee;
    }
    .p-create__imgDelete{
        background: #999;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        z-index: 1;
        img{
            width: 20px;
            height: 20px;
        }
    }
    .p-create__imgLabel{
        width: 200px;
        height: 200px;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: relative;
    }
    .p-create__submit{
        width: 30%;
        height: 50px;
        margin: 64px auto 0;
    }
}