.p-ideasShowReview{
    max-width: 700px;
    .p-ideasShowReview__comment__textarea{
        width: 100%;
    }
    .p-ideasShowReview__submit{
        width: 100px;
        height: 40px;
        margin: 16px 0 0 auto;
    }
}