.p-ideasShow{
    padding-bottom: 64px;
    .p-ideasShow__inner{
        max-width: 1000px;
        padding: 0 64px;
        margin: 0 auto;
        line-height: 1.35;
        @include mq(md) {
            padding: 0 16px;
        }
    }
    .p-ideasShow__item{
        list-style: none;
        margin-top: 24px;
        &.p-ideasShow__item--img{
            
        }
        &.p-ideasShow__item--action{
            display: flex;
            flex-direction: row-reverse;
            margin-top: 8px;
        }
        &.p-ideasShow__item--body{
            margin-top: 80px;
        }
        &.p-ideasShow__item--review{
            padding: 24px 0;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
        }
    }
    .p-ideasShow__img{
        width: 50%;
        margin: 0 auto;
        max-width: 350px;
        img{
            width: 100%;
        }
    }
    .p-ideasShow__action{
        img{
            width: 30px;
            height: 30px;
        }
        &:not(:first-of-type){
            margin-right: 24px;
        }
    }
    .p-ideasShow__title{
        font-size: 24px;
    }
    .p-ideasShow__toIdeaUser{
        display: inline-block;
        padding: 8px 8px 8px 0;
    }
    .p-ideasShow__user{
        display: flex;
        align-items: center;
    }
    .p-ideasShow__user__img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .p-ideasShow__user__name{
        margin-left: 8px;
        font-size: 14px;
    }
    .p-ideasShow__price{
        font-size: 24px;
        font-weight: bold;
        color: $accent-cl;
    }
    .p-ideasShow__description{
        font-size: 20px;
    }
    .p-ideasShow__body{
        font-size: 18px;
    }
    .p-ideasShow__twitter{
        display: flex;
        align-items: center;
        a{
            display: inline-block;
            width: 50px;
            height: 50px;
            img{
                display: inline-block;
                width: 100%;
                height: 100%;
            }
        }
    }
    .p-ideasShow__likes{
        color: $accent-cl;
    }
    .p-ideasShow__twitter__text{
        margin-left: 16px;
    }
    .p-ideasShow__buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .p-ideasShow__button{
        display: flex;
        width: 260px;
        height: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        color: #fff;
        margin-top: 16px;
        border: none;
        font-size: 16px;
        &.p-ideasShow__button--like{
            background: $accent-cl;
            &.isliked{
                background-color: #fff;
                border: 1px solid $accent-cl;
                color: $accent-cl
            }
        }
        &.p-ideasShow__button--buy{
            background: $main-cl;
        }
    }
    .p-ideasShow__buy{
        &.p-ideasShow__buy--ordered{
            .p-ideasShow__button{
                &.p-ideasShow__button--buy{
                background: #ccc;
                pointer-events: none;
                }
            }
        }
    }
}